<div class="painel-login-chat">
	<div class="row">
		<div class="col-sm-12">
			<%= simple_form_for User.new, url: sessions_path, method: :post do |f| %>
			  
			  <%= f.input :username, input_html: { class: 'form-control', autofocus: true }  %>

			  
			  <%= f.input :password, input_html: { class: 'form-control' }  %>
			  <p class="">
				<%= raw("<div class='alert alert-danger text-center'> #{@error} </div>") unless @error.nil? %>
			 </p>
			  <%= f.button :submit, 'Login', class: 'btn btn-success col-xs-12' %>
			  <%= link_to 'Registrar', new_user_path, class: 'btn btn-default col-xs-12' %>
			  
			  	
			<% end %>
		</div>	
	</div>	
</div>
