<div class="painel-login-chat">
	<div class="row">
		<div class="col-sm-12">
			<%= simple_form_for User.new, url: sessions_path, method: :post do |f| %>
			  
			  <%= f.input :username, input_html: { class: 'form-control', autofocus: true }  %>

			  
			  <%= f.input :password, input_html: { class: 'form-control' }  %>
			  <p class="">
				<%= raw("<div class='alert alert-danger text-center'> #{@error} </div>") unless @error.nil? %>
				<% unless @info.nil? %>
				<div class='alert alert-info text-center'> <%= @info %> <strong><%= link_to 'Registre-se aqui', 'registe_to_establishment'%></strong>  </div>
				<% end %>
			 </p>
			  <%= f.button :submit, 'Login', class: 'btn btn-success col-xs-12' %>
			  <% unless @info.nil? %>
					<%= link_to 'Registrar-se', new_user_path, class: 'btn btn-default col-xs-12' %>
			  <% else %>
			  	<%= link_to 'Cadastrar', new_user_perfil_path, class: 'btn btn-default col-xs-12' %>			  
			  <% end %>	  	
			<% end %>
		</div>	
	</div>	
</div>
