<div class="row">
	<div class="col-sm-offset-4 col-sm-4 text-center login-adm">
		<%= simple_form_for(Admin.new, url: admin_session_index_path, method: :post) do |f|%>    
	    <%= f.input :username, autofocus: true,input_html: { class: 'form-control'} %> 
	    <%= f.input :password, input_html: { class: 'form-control' } %> 
	    <div class="row">
			<p class="">
				<%= raw("<div class='alert alert-danger text-center'> #{@error} </div>") unless @error.nil? %>
			</p>
		</div>
		<div class="text-right">
			<%= f.button :submit,"Logar", class: 'btn btn-success' %>	
		</div>
	    
		
	</div>
<% end %>	
</div>
