<div class="row">	
	<%= search_form_for(@q ,remote: true, url: '/select_client', :method => :get ) do |f| %>
	
	<div class=" col-sm-offset-1 col-sm-2">		
  		<%= f.label :cliente_cont, 'Cliente' %>
  		<%= f.search_field :cliente_cont, class: 'form-control' %>
	</div>
	<div class="col-sm-2">
		<!-- Filtra por cidade -->
		<%= f.label :cidade_cont, 'Cidade' %>
  		<%= f.search_field :cidade_cont, class: 'form-control' %>
	</div>
	<div class="col-sm-2">
		<!-- Filtra por bairro -->
		<%= f.label :bairro_cont, 'Bairro' %>
  		<%= f.search_field :bairro_cont, class: 'form-control' %>
	</div>
	<div class="col-sm-2">
		<!-- Filtra por status -->
		<%= f.label :status_present, 'Status' %>
  		<%= f.search_field :status_present, class: 'form-control ', placeholder: 'Ativo ou Inativo' %>
	</div>

	<div class="col-sm-2">		
		<% if @teste.nil? %>
			<%= f.submit 'Pesquisa', class: 'btn btn-default btnPesquisa'  %>
		<% else %>	
			<%= f.submit 'Limpar', class: 'btn btn-default btnLimpar'  %>
		<% end %>	
	</div>
	<% end %>
</div>
