<div class="row">
	<div class="col-sm-12">
	<%= simple_form_for("logar") do |f|%>
		<div class="form-inputs">
			<%= f.input :password, input_html: { class: 'form-control' } %> 
		</div>
		<p class="">
			<%= raw("<div class='alert alert-danger text-center'> #{@error} </div>") unless @error.nil? %>
		</p>	
		<%= f.button :submit, label: "Logar", class: 'btn btn-success', placeholder: 'Senha' %>
	<% end %>
</div>

<p>para acessar o chat <%= @login.password_digest unless @login.nil? %></p>
<h2><%= link_to 'Comercio/Admin', comercio_gerencia_path %></h2> 
obs: precisa criar o mesmo no painel adm
login: o nome do cliente<br>
senha padrão 123456

<h2><%= link_to 'Admin', admin_path %></h2>
username: admin
senha: 123456

</div>
