<%if @user_online.empty? or @user_online.nil? %>
	<h5 class='text-center'>Não existe usuário <%= @genero %> on-line no momento!</h5>
<%elsif%>
  <div class=" row">
	  	<ul>
		    <% @user_online.each do |other_user| %>			  	
				<%if other_user.user.id != current_user.id %>
					<li class='container-user-chat'>
				        <%= get_avatar(other_user, 'chat_index') %>      		
								      	
					    <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
							
						    <%= other_user.user.username %>
							<% @mesagens.each do |k,v| %> 								 	
							 		<% if k == other_user.id %>
							 			<span class="message-no-read">
								 			<span>								 				
								 				<%= "#{v}"%>								 				
								 			</span>								 				
								 			
							 			</span>							 	
							 		<% end %>	
							<% end %>	
				 	    <% end %>
					</li>		      	
		    	<% end %>
			<% end %>
		</ul>
	</div>
<% end %>
