<section class="cabecalho">
	<%= render 'cabecalho' %>
</section>
<div class="row menu-bar">
	<section class="col-xs-4"><%= link_to 'On-line', '/online', remote: true %></section>
	<section class="col-xs-4"><%= link_to 'converças', '/converca', remote: true %></section>
	<section class="col-xs-4"><%= link_to 'bloquear', '#' %></section>
</div>

<div id='chat-body'>		
	<%= render 'online' %>
</div> 
