<section class="cabecalho">
	<%= render 'cabecalho' %>
</section>
<div class="row menu-bar">
	<section class="col-xs-4"><%= link_to 'On-line', '/online', remote: true, data: {turbolinks: false}  %></section>
	<section class="col-xs-4"><%= link_to 'Conversas', '', remote: true, data: {turbolinks: false} %></section>
	<section class="col-xs-4"><%= link_to 'Bloquear', '', remote: true,data: {turbolinks: false} %></section>
</div>
	
<div id='chat-body'>		
	<%= render 'online'%>	
</div> 
<div class="row">
	<div class="system-notice">		
<!-- 
		<div>
			<% link_to 'Fale Conosco', '/new/mensagem/chat', remote: true %>
		</div>
		<div>			
-->		
		</div>	
	</div>	
</div> 
<div id="product-modal" class="modal fade"></div>