<div class="">
<div class="scroll row" >
  <div class="header col-sm-12">
    <%= link_to(raw("<i class='glyphicon glyphicon-arrow-left'></i>"), user_chats_path(current_user.id), data: {turbolinks: false}) %>
    
     <%= get_avatar(@other_user,'chat') %>       
    
    <span><%= @other_user.user.username %>  </span>
  </div>  
</div>
<div class='body row' id='body'>
  <% if @chat.messages.any? %>
    <div id="messages">
      <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>      
    </div>
  <%else%>
    <div id="messages"></div>
  <%end%>

</div>
<div class="row">  
  <%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>

<span class="btn-toBottom"></span>
</div>
<script>
     
  createMessageChannel();
  messageForm();
  //defaults scrolling to bottom
  $('.btnEnviarMensagem').click(function (e) {  
    var alt = $(document).height();
      $('html, body').animate({scrollTop: alt}, 800);      
  });
  jQuery(document).ready(function($) {
  var alt = $(this).height();  
  
  if (alt > $(document).scrollTop()) {
     
     $("html, body").animate({ scrollTop: $(document).height() }, 800); 
  }
    
  });

  $('.btn-toBottom').click(function(event) {      
    var alt = parseInt($(document).height());
    $('html, body').animate({scrollTop: alt+200}, 800);    
    $('#message_content').focus();
});
</script>