<div class="col-md-offset-4 col-md-4">
<%= simple_form_for(Client.new, url: clients_sessions_path, method: :post) do |f| %>
  <%= f.input :username, input_html: { class: 'form-control' } %><br>


  <%= f.input :password, input_html: { class: 'form-control' } %><br>

<%= raw("<div class='alert alert-danger text-center'>#{@error}</div>") unless @error.nil? %>
<div class="text-right">
	<%= f.submit 'Login', class: 'btn btn-default' %>	
</div>


<% end %>
</div>

